<!-- Hero content: will be in the middle -->
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="steps">
        <div class="step-item is-completed is-success">
          <div class="step-marker">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="step-details">
            <p class="step-title">Step 1</p>
            <p>Choose the domain {{domain}}</p>
          </div>
        </div>
        <div class="step-item is-active">
          <div class="step-marker"></div>
          <div class="step-details">
            <p class="step-title">Step 2</p>
            <p>Customize its behavior</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">3</div>
          <div class="step-details">
            <p class="step-title">Step 3</p>
            <p>Confirm settings &amp; deploy</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">
            <span class="icon">
              <i class="fa fa-flag"></i>
            </span>
          </div>
          <div class="step-details">
            <p class="step-title">Step 4</p>
            <p>Enjoy your custom bot</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero" style="background: #F3F3F3">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="control has-icons-right">
            <input class="input is-rounded" type="text" placeholder="Search options">
            <span class="icon is-small is-right">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
        <div class="column">
          <div class="control">
            <a class="button is-link is-pulled-right" [attr.disabled]="!options ? '' : null">
              <span>Next</span>
              <span class="icon is-small">
                <i class="fas fa-chevron-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <h2 class="subtitle is-6"><b>General</b></h2>
      <div class="columns">
        <div class="column">
          <div *ngFor="let option of options">
            <app-dynamic-form [option]="option"></app-dynamic-form>
          </div>
        </div>
        <div class="column">

        </div>
        <div class="column">

        </div>
      </div>
    </div>
  </div>
</section>